/*========== variables ==========*/
:root {
  --body-color: hsl(0, 0%, 93%);
  --primary-color:hsl(0, 0%, 13%);
  --title-color: hsl(0, 0%, 10%);
  --text-color: hsl(0, 0%, 30%);
  --text-color-light:hsl(0, 0%, 60%);
  --secondray-color:hsl(180, 100%, 25%);
  --white-color:hsl(0, 0%, 100%);
  --shadow:hsla(0, 0%, 0%, 0.11);
  --font-weight-light:100;
  --font-weight-semi-bold:600;
  --font-weight-bold:900;
  --bigest-font-size:4rem;
  --h1-font-size: Clamp(3rem, 4vw, 5rem);
  --h2-font-size:2.5rem;
  --h3-font-size:2rem;
  --normal-font-size:2rem;
  --small-font-size:1rem;
  --title-line-height: 1;
  --text-line-height: 1.7;
  --font-family-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --section-margin:6em;
  --mr__bottom:1.5em;
  --m_tb:1em 0;
  --pd:1rem 0;
  --gap:4rem;
}

/*========== Resseting CSS classes ==========*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-color);
  font-size: var(--normal-font-size);
  line-height: var(--text-line-height);
  font-weight: var(--font-weight-light);
  color: var(--text-color);
  font-family: var(--font-family-verdana);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}

h2, h3 {
  text-transform: lowercase;
  font-variant: small-caps;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

/*========== Reusable CSS classes ==========*/
.container {
  width: min(80%, 1128px);
  margin-inline: auto;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--gap);
}

section {
  margin: var(--section-margin) 0;
}

/*========== Buttons Css ==========*/
.btn {
  padding: 0.3em 1em;
  background-color: var(--secondray-color);
  letter-spacing: 3px;
  color: var(--text-color);
  font-variant: small-caps;
  border-radius: 2px;
  font-size: 1.1em;
  border: none;
  outline: none;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

/*========== Header Css ==========*/
header {
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--body-color);
  z-index: 1000;
}
header .logo__text {
  color: var(--secondray-color);
}
header .nav {
  width: 100%;
  position: absolute;
  background-color: var(--text-color);
  border-radius: 10px;
}
header .nav__link {
  color: var(--body-color);
  font-variant: small-caps;
}
header .nav__item {
  padding: var(--pd);
}
header .nav__list--primary {
  margin-bottom: var(--mr__bottom);
}
header .nav {
  position: relative;
  height: 0;
  visibility: hidden;
}
header .nav-visible {
  position: relative;
  height: auto;
  visibility: visible;
}
header .nav-toggle {
  position: absolute;
  right: 0;
  cursor: pointer;
}
header .bars {
  display: inline-block;
  background-color: var(--text-color);
  width: 40px;
  height: 4px;
  position: relative;
}
header .bars::before,
header .bars::after {
  background: var(--text-color);
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
}
header .bars::before {
  width: 25px;
  top: -10px;
  left: 0px;
}
header .bars::after {
  width: 10px;
  top: 10px;
  left: 0;
}

.scroll-header {
  box-shadow: 1px 1px 8px var(--shadow);
}

/*========== Hero ==========*/
.hero {
  margin-top: 10em;
}
.hero__title {
  font-size: var(--h1-font-size);
  line-height: var(--title-line-height);
}
.hero__data {
  line-height: var(--text-line-height);
  margin: var(--m_tb);
  text-align: justify;
}
.hero__info {
  width: 100%;
}
.hero__img {
  width: 100%;
  transform: translateY(0px);
}
.hero__img img {
  width: 100%;
  object-fit: cover;
}
.hero--btn {
  width: 100%;
}

/*========== About CSS classes ==========*/
.about__title {
  text-align: center;
  padding-bottom: 0.1em;
}
.about__info {
  width: 100%;
  align-self: center;
}
.about__info__subtitle {
  text-align: start;
}
.about__img {
  background-color: var(--text-color-light);
  width: 100%;
}
.about__img img {
  object-fit: cover;
  width: 100%;
}
.about__data {
  text-align: justify;
  margin: 1em 0;
}
.about--btn {
  width: 100%;
}
.about .about__subtitle {
  position: relative;
  text-align: center;
  color: var(--secondray-color);
  margin-bottom: 1.5em;
  text-transform: lowercase;
}
.about .about__subtitle span::before,
.about .about__subtitle span::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}
.about .about__sub {
  position: relative;
  width: 400px;
  margin-inline: auto;
}
.about .about__subtitle span::before {
  position: absolute;
  top: 55%;
  left: 26%;
}
.about .about__subtitle span::after {
  position: absolute;
  top: 55%;
  right: 26%;
}

/*========== Service Section ==========*/
.service__title {
  text-align: center;
}
.service__card {
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding: 1.5em;
  background-color: var(--text-color-light);
}
.service__img {
  width: 100%;
}
.service__img img {
  text-align: center;
  width: 30%;
  object-fit: cover;
}
.service__card__subtitle {
  margin: 0.6em 0;
}
.service__data {
  margin: 1em 0;
}
.service__subtitle {
  position: relative;
  text-align: center;
  margin-bottom: 1.5em;
  text-transform: lowercase;
  color: var(--secondray-color);
}
.service__subtitle span::before, .service__subtitle span::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}
.service__sub {
  position: relative;
  width: 400px;
  margin-inline: auto;
}
.service__data {
  margin-bottom: 1em;
}
.service__subtitle span::before {
  position: absolute;
  top: 55%;
  left: 20%;
}
.service__subtitle span::after {
  position: absolute;
  top: 55%;
  right: 20%;
}
.service .bar {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 5px;
  border-radius: 0 0 10px 10px;
  background-color: var(--secondray-color);
  animation: bar 0.5s;
  display: none;
}
.service__card:hover .bar {
  display: block;
}
@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 150px;
  }
}
.service__card:focus, .service__card:hover {
  box-shadow: 0 0 10px var(--shadow);
}
.service .serivece__data {
  margin-bottom: 1em;
}
.service .service--btn {
  padding: 0.3em 1.5em;
  background-color: none;
  font-size: 1.7rem;
  margin: 1em 0;
  text-transform: uppercase;
}
.service .service--btn:hover,
.service .service--btn:focus {
  background-color: var(--primary-color);
  color: var(--text-color-light);
}

/*==========| Css Header |===========*/
.portfolio__title {
  text-align: center;
}
.portfolio__subtitle {
  position: relative;
  text-align: center;
  margin-bottom: 1.5em;
  text-transform: lowercase;
  color: var(--secondray-color);
}
.portfolio__subtitle span::before, .portfolio__subtitle span::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}
.portfolio__sub {
  position: relative;
  width: 400px;
  margin-inline: auto;
}
.portfolio__subtitle span::before {
  position: absolute;
  top: 55%;
  left: 22%;
}
.portfolio__subtitle span::after {
  position: absolute;
  top: 55%;
  right: 22%;
}
.portfolio__list {
  display: flex;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio__item {
  padding: 0.2em 0.6em;
  background-color: var(--white-color);
  margin: 0 0.2em;
  cursor: pointer;
}
.portfolio__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 2.5em 0;
}
.portfolio__project {
  border-radius: 20px;
  background-color: var(--white-color);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.portfolio__project .portfolio__img {
  width: 100%;
  transition: 0.4s;
}
.portfolio__project .portfolio__img:hover {
  width: 100%;
  object-fit: cover;
  transform: scale(1.5);
}
.portfolio .live__demo {
  position: absolute;
  top: 40%;
  bottom: 40%;
  text-align: center;
  color: var(--white-color);
  padding: 0.2em 1em;
  background-color: var(--primary-color);
  left: 30%;
  z-index: 1;
  right: 30%;
  display: none;
}
.portfolio__project:hover .live__demo {
  display: block;
}

.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.hide {
  display: none;
}

/*========== Contact Section ==========*/
.contact__title {
  text-align: center;
  font-size: 3rem;
}
.contact__info__subtitle {
  margin: 1em 0;
}
.contact__subtitle {
  position: relative;
  text-align: center;
  margin-bottom: 1.5em;
  text-transform: lowercase;
  color: var(--secondray-color);
}
.contact__subtitle span::before, .contact__subtitle span::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}
.contact__sub {
  position: relative;
  width: 400px;
  margin-inline: auto;
}
.contact__subtitle span::before {
  position: absolute;
  top: 55%;
  left: 22%;
}
.contact__subtitle span::after {
  position: absolute;
  top: 55%;
  right: 22%;
}
.contact__data {
  text-align: justify;
  margin-bottom: 1em;
}
.contact__lists {
  display: flex;
  align-items: center;
  gap: var(--gap);
  margin-top: 1rem;
}
.contact .form_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .inputbox {
  position: relative;
  margin-bottom: 20px;
}
.contact .inputbox input,
.contact .inputbox textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 8px 0;
  border-bottom: 1px solid var(--text-color);
}
.contact .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  color: var(--text-color-light);
  font-size: 2rem;
  font-weight: 500;
  pointer-events: none;
  font-variant: small-caps;
}
.contact .w100 {
  width: 100%;
}
.contact .w50 {
  width: 100%;
}
.contact .inputbox textarea {
  height: 120px;
}
.contact .inputbox input:valid ~ span,
.contact .inputbox input:focus ~ span,
.contact .inputbox textarea:focus ~ span,
.contact .inputbox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 1.4rem;
  font-weight: 100;
}
.contact .contact--btn {
  padding: 0.5em 1em;
  background-color: var(--secondray-color);
  text-transform: uppercase;
}

/*==========|  Css Footer |===========*/
.footer {
  margin-top: 3em;
  padding-top: 1em;
  background-color: var(--text-color-light);
  color: var(--text-color);
}
.footer a {
  color: var(--text-color);
}
.footer a:hover {
  opacity: 0.8;
}
.footer h2 {
  position: relative;
  margin-bottom: 20px;
}
.footer h2::before {
  position: absolute;
  content: "";
  background-color: var(--secondray-color);
  width: 50px;
  height: 3px;
  bottom: -10px;
}
.footer__title {
  font-size: 2rem;
}
.footer__data {
  text-align: justify;
  color: var(--primary-color);
}
.footer .social {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.footer .footer__social__item a {
  color: var(--text-color);
}
.footer .footer__social__item a:hover {
  color: var(--text-color);
}
.footer .social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border-radius: 4px;
}
.footer .social a:hover {
  background-color: var(--secondray-color);
}
.footer input[type=email] {
  border: none;
  outline: none;
  padding: 0.6em;
  width: 100%;
  margin-top: 0.5em;
}
.footer .footer--btn {
  padding: 0.1em 0.5em;
  font-variant: small-caps;
  margin-top: 1em;
  letter-spacing: 3px;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.footer .copyright {
  margin-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}
.footer .copyright a {
  color: var(--secondray-color);
}

.scrollup {
  position: fixed;
  background-color: var(--secondray-color);
  right: 5rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: 3;
  opacity: 0.8;
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--text-color-light);
  opacity: 1;
}
.scrollup__icon {
  font-size: 2.5rem;
  color: var(--text-color);
}

.show-scroll {
  bottom: 5rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--secondray-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);
}

/*========== Theme ==========*/
body.dark-theme {
  --body-color: hsl(0, 0%, 10%);
  --primary-color:hsl(0, 0%, 93%);
  --title-color: hsl(0, 0%, 94%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light:hsl(0, 0%, 25%);
  --secondray-color:hsl(180, 100%, 25%);
  --white-color:hsl(0, 0%, 20%);
  --shadow:hsla(0, 100%, 100%, .6);
}

.change-theme {
  color: darkblue;
  cursor: pointer;
  font-size: 2.5rem;
}

/*========== Mediaqueries ==========*/
@media all and (min-width: 800px) {
  /*========== Reusable Classes ==========*/
  .row {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  /*========== Header Section ==========*/
  header {
    text-align: start;
  }
  header .logo__svg {
    position: relative;
  }
  header .nav {
    top: 0;
    visibility: visible;
    background-color: var(--body-color);
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
  }
  header .nav__link {
    color: var(--text-color);
  }
  header .nav__link:hover, header .nav__link:focus {
    opacity: 0.9;
  }
  header .nav-toggle {
    display: none;
  }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .nav {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  header .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  header .nav__item {
    padding: 0;
    margin: 0 0 0 1em;
  }
  header .nav__link--btn {
    padding: 0.12em 0.6em;
    color: var(--body-color);
    font-size: 1.1em;
  }
  header .nav__link--btn:hover {
    opacity: 0.9;
  }

  /*========== Hero Section ==========*/
  .hero .hero__info {
    width: 50%;
  }
  .hero .hero__img {
    width: 50%;
  }
  .hero .hero__img img {
    transform: translateY(-20px);
    width: 100%;
    object-fit: cover;
  }
  .hero--btn {
    width: 40%;
  }
  .hero__data {
    margin: 1.5em 0;
  }

  /*========== About Section ==========*/
  .about__info__subtitle {
    margin-bottom: 1em;
  }
  .about__data {
    margin-bottom: var(--mr__bottom);
  }
  .about .about__subtitle span::before {
    left: 25%;
  }
  .about .about__subtitle span::after {
    right: 25%;
  }
  .about--btn {
    width: 50%;
  }

  /*========== Service Section ==========*/
  .service__subtitle span::before {
    left: 18%;
  }
  .service__subtitle span::after {
    right: 18%;
  }

  /*==========|  Css About |===========*/
  .contact .contact__info {
    width: 45%;
  }
  .contact .contact__form {
    width: 60%;
  }
  .contact .w50 {
    width: 47%;
  }

  /*==========|  Css Footer |===========*/
  .footer__about {
    width: 35%;
  }
  .footer .container {
    width: min(90%, 1128px);
    margin-inline: auto;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
