<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Kaabe Portfolio</title>
</head>
<body>
    {%include 'includes/navbar.html'%}
   <div class="main">
    {%block content%}
    
    {%endblock%}
   </div>
    
    {%include 'includes/footer.html'%}
    
    <script src="{% static 'js/all.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>