/*========== variables ==========*/
:root{
    // colors
    --body-color: hsl(0, 0%, 93%);
    --primary-color:hsl(0, 0%, 0%);
    // --title-color: hsl(0, 0%, 10%);
    // --text-color: hsl(0, 0%, 30%);
    // --text-color-light:hsl(0, 0%, 60%);
    --secondray-color:hsl(0, 0%, 100%);
    // --white-color:hsl(0, 0%, 100%);
    // --shadow:hsla(0, 0%, 0%, 0.11);
    // --color-light: hsl(0, 0%, 93%);

   


    --font-weight-light:100;
    --font-weight-semi-bold:600;
    --font-weight-bold:900;

    --bigest-font-size:4rem;
    --h1-font-size: Clamp(3rem, 3.5vw, 4.5rem);
    --h2-font-size:2.5rem;
    --h3-font-size:2rem;
    --normal-font-size:2rem;
    --small-font-size:1rem;


    --title-line-height: 1;
    --text-line-height: 1.7;
    --font-family-verdana: Verdana, Geneva, Tahoma, sans-serif;


    --section-margin:6em;
    --mr__bottom:1.5em;
    --m_tb:1em 0;
    --pd:1rem 0;

    --gap:4rem;
}