<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer__about">
                <h2 class="footer__title">About Us</h2>
                <p class="footer__data">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor.</p>
                <ul class="social">
                    <li><a href=""><i class="fab fa-facebook"></i> </a></li>
                    <li><a href=""><i class="fab fa-twitter"></i> </a></li>
                    <li><a href=""><i class="fab fa-youtube"></i> </a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i> </a></li>
                </ul>
            </div>
            <div class="footer__social">
                <h2 class="footer__title">Quick links</h2>
                <ul class="footer__social__list">
                    <li class="footer__social__item"><a href="">About</a></li>
                    <li class="footer__social__item"><a href="">FAQ</a></li>
                    <li class="footer__social__item"><a href="">Privacy Policy</a></li>
                    <li class="footer__social__item"><a href="">Help</a></li>
                    <li class="footer__social__item"><a href="">Terms</a></li>
                </ul>
            </div>
            <div class="footer__menu">
                <h2 class="footer__title">Menu</h2>
                <ul class="footer__menu__list">
                    <li class="footer__menu__item"><a href="" class="footer__links">Home</a></li>
                    <li class="footer__menu__item"><a href="" class="footer__links">Service</a></li>
                    <li class="footer__menu__item"><a href="" class="footer__links">About</a></li>
                    <li class="footer__menu__item"><a href="" class="footer__links">Portfolio</a></li>
                    <li class="footer__menu__item"><a href="" class="footer__links">Contact</a></li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <h2 class="footer__title">Subscribe</h2>
                <form class="footer__form">
                    <input type="email" placeholder="Email">
                    <input type="submit" class="btn footer--btn" value="subscribe">
                </form>
            </div>

        </div>
        <div class="copyright">created with by <a href="kaabe.org">kaabe</a> All right is reserved &copy; kaabe
            web developers 
        </div>

    </div>
</footer>