<header class="header" id="header">
    <nav class="nav container">
        <div class="nav__brand">kaabe</div>
        <div class="nav__menu" id="nav__menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link">home</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">about</a></li>
                <li class="nav__item"><a href="#service" class="nav__link">service</a></li>
                <li class="nav__item"><a href="#portfolio" class="nav__link">portfolio</a></li>
                <li class="nav__item"><a href="#blog" class="nav__link">blog</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">contact</a></li>
               <li class="nav__item"> <i class="bx bx-toggle-left bx-lg change-theme" id="theme-button"></i></li>
            </ul>
        </div>
        <div class="nav__toggle" id="nav__toggle">
            <span class="bars"></span>
        </div>
        
    </nav>
</header>