<header class="header" id="header">
    <div class="container navbar">
        <ul class="nav-toggle">
            <li><span class="bars"></span></li>
        </ul>
        <div class="logo">
            <h2 class="logo__text">kaabe</h2>
        </div>
        
        <nav class="nav">
            <ul class="nav__list nav__list--primary">
                <li class="nav__item"><a href="#home" class="nav__link">home</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">about</a></li>
                <li class="nav__item"><a href="#service" class="nav__link">service</a></li>
                <li class="nav__item"><a href="#portfolio" class="nav__link">portfolio</a></li>
                <li class="nav__item"><a href="#blog" class="nav__link">blog</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">contact</a></li>
            </ul>
            <i class="bx bx-toggle-left change-theme" id="theme-button"></i>
             
        </nav>
    </div>
</header>