{%extends 'base/base.html'%}
{%block content%}
{%load static%}
<section class="section blog" id="blog">
    <div class="container">
        <h2 class="blog__title">latest articles</h2>
        <div class="blog__sub">
            <p class="blog__subtitle"><span>top articles</span></p>
        </div>
        <div class="grid">
            {%for post in posts%}
            <div class="blog__card">
                <div class="blog__img">
                    <img src="{{post.image.url}}" style="max-width: 100%; height: 150px;object-fit: cover;" alt="post images">
                    <div class="date">
                        <span>by {{post.author}} in</span><br>
                        <span>{{post.created|date}}</span>
                    </div>
                </div>
                <div class="blog__social">
                    <ul class="blog__social__lists">
                        <li class="blog__social__list">
                            <i class="bx bxl-linkedin bx-lg" style="color: rgb(64, 64, 102);"></i>
                            <i class="bx bxl-meta bx-lg" style="color: blue;"></i>
                            <i class="bx bxl-twitter bx-lg" style="color: rgb(6, 82, 85);"></i>
                            <i class="bx bxl-youtube bx-lg" style="color: rgb(128, 55, 55);"></i>
                        </li>
                    </ul>
                </div>
                <div class="blog__description">
                    <h2 class="blog__post__title"><a href="{{post.get_absolute_url}}">{{post.title|truncatewords:5}}</a></h2>
                    <!-- <p class="blog__post__data">{{post.body|truncatewords:5}}</p> -->
                    <a href="{{post.get_absolute_url}}" class="btn blog--btn">read more</a>
                    <!-- <button class="btn blog--btn">read more</button> -->
                </div>    
            </div>
            {%endfor%}
        </div>
    </div>
</section>

<!-- <script>
    let post = document.getElementById('post')
   fetch('http://127.0.0.1:8000/blog/api/')
   .then(resp => resp.json())
   .then(data => {
       let out = ''
       for(let i=0; i < data.length; i++){
          out +=
          `
            <h2> ${data[i].title} </h2>
            <strong>${data[i].status}</strong>
            <p> ${data[i].body} </p>
          `
       }
       post.innerHTML = out
       console.log(out)
   })
</script> -->

{%endblock%}