/*========== Blog CSS classes ==========*/
.blog{
    &__title{
        font-style: 2rem;
        font-variant: small-caps;
        text-align: center;
        margin: .5em 0;
    }
    &__subtitle {
        position: relative;
        text-align: center;
        margin-bottom: 1.5em;
        text-transform: lowercase;
        color: var(--primary-color);
    }

    &__subtitle span::before,
    &__subtitle span::after {
        content: "";
        width: 50px;
        height: 3px;
        background-color: var(--primary-color);
    }

    &__sub {
        position: relative;
        width: 100%;
        margin-inline: auto;
    }

    &__subtitle span::before {
        position: absolute;
        top: 55%;
        left: 80%;
    }

    &__subtitle span::after {
        position: absolute;
        top: 55%;
        right: 80%;
    }

    &__card{
        background-color: var(--light-color);
        border-radius: 10px;
        padding: 20px;
        color: var(--secondray-color);
    }
    &__img{
        width: 100%;
        object-fit: cover;
        position: relative;
    }
    .date{
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.2rem;
        padding: .2rem;
        font-style: italic;
        color: var(--primary-color);
        background-color: var(--secondray-color);
        border-radius: 0px 0px 10px 0px;
        box-shadow: 0px 0px 3px rgba(0,0,0, .3);
    }
    &__social{
        padding: .5em 0;
    }
    &__social__list .bx{
        font-size: 30px;
        background-color: whitesmoke;
    }
    &__description{
        margin: 0;
        font-size: 1.7rem;
        color: var(--primary-color);
    }
    &__post__data{
        text-align: justify;
    }
    &__post__title{
        color: var(--primary-color);
        margin: .5rem 0;
        font-variant: normal;
        font-size: 1.9rem;
        text-transform: lowercase;
    }
    &--btn{
        text-align: center;
        margin: 1rem 0;
        color: var(--secondray-color);
        font-variant: small-caps;
        font-size: 1.4rem;
    }

}