/*========== Header Css ==========*/

.header {
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: .3s;

    .nav {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width:800px) {
        .nav__menu {
            position: fixed;
            top: -100%;
            left: 0;
            right: 0;
            padding: 2.5rem 0;
            margin: 0 auto;
            width: 90%;
            transition: .5s;
            z-index: 3;
            border-radius: 2rem;
            box-shadow: 0 0 4px rgba(0, 0, 0, .2);
            background-color: var(--light-color);
        }
    }

    .change-theme {
        text-align: center;
    }

    .nav__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        // row-gap: 4rem;
        // column-gap: 4rem;
    }

    .nav__link,
    .nav__toggle {
        color: var(--primary-color);
        font-size: 1.8rem;
        font-variant: small-caps;
    }

    .nav-visible {
        top: 6.5rem;
    }

    .nav__brand {
        font-variant: small-caps;
        font-size: 2.2rem;
        color: var(--primary-color);
        font-weight: 600;
    }

    .nav__toggle {
        font-size: 2.5rem;
        cursor: pointer;
        font-weight: 800;
    }

    .bars {
        position: relative;
        display: inline-block;
        background-color: var(--primary-color);
        width: 15px;
        height: 4px;
    }

    .bars::before,
    .bars::after {
        position: absolute;
        content: "";
    }

    .bars::after {
        height: 4px;
        width: 25px;
        background-color: var(--primary-color);
        color: var(--primary-color);
        top: -16px;
        left: 0;
    }

    .bars::before {
        width: 40px;
        height: 4px;
        background-color: var(--primary-color);
        color: var(--primary-color);
        top: -8px;
    }

}


.scroll-header {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
    // background-color: wheat;
}