/*========== Mediaqueries ==========*/
@media only screen and (min-width: 360px) and (max-width: 799px) {
    .about{
        .about__subtitle span::before {
            left: 20%;
        }

        .about__subtitle span::after {
            right: 20%;
        }
    }
    .blog{
        &__subtitle span::before {
            left: 20%;
        }

        &__subtitle span::after {
            right: 20%;
        }
    }
    .service{
        &__subtitle span::before {
            left: 18%;
        }

        &__subtitle span::after {
            right: 18%;
        }
    }
    .portfolio{
        &__subtitle span::before {
            left: 20%;
        }

        &__subtitle span::after {
            right: 20%;
        }
    }
    .contact{
        &__subtitle span::before {
            left: 20%;
        }

        &__subtitle span::after {
            right: 20%;
        }
    }
}


@media all and (min-width:800px) {
/*========== Reusable Classes ==========*/
    .container{
        width: Min(65%, 1128px);
    }
    .row{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

/*========== Header Section ==========*/
    header{
        .container{
            width: min(65%, 1128px);
            margin-inline: auto;
        }
        .nav__toggle{
            display: none;
        }
        .nav__list{
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
        }
        .nav__item{
            /* top: 6rem; */
            padding: 0;
            margin: 0;
            position: relative;
            margin-left: 2rem;
        }
        .nav__menu,
        .change-theme{
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            position: relative;
            justify-content: end;
        }   
    }

/*========== Hero socials ==========*/

/*========== Hero Section ==========*/
    .hero{
        padding: 12rem 0;
        // margin-top: 6rem;
        .row{
            gap: 4em;
        }
        .hero__info{
            width: 55%;
        }
        .hero__img{
            width: 45%;
        }
        .hero__img img{
            transform: translateY(0px);
            width: 100%;
            object-fit: cover;
        }
        &--btn{
            width: 60%;
        }
        &__data{
            margin: 1.5em 0;
        }
    }

/*========== About Section ==========*/
    .about{
        .row{
            gap: 6em;
        }
        &__info{
            width: 60%;
        }
        &__img{
            width: 40%;
        }
        // &__info__subtitle{
        //     // margin-bottom: 1em;
        // }
        // &__data{
        //     // margin-bottom: var(--mr__bottom);
        // }
        .about__subtitle span::before {
            left: 30%;
        }

        .about__subtitle span::after {
            right: 30%;
        }

        &--btn {
            width: 100%;
        }
    }

/*========== About Portofolio ==========*/
    .portfolio{
        &__subtitle span::before {
            left: 30%;
        }

        &__subtitle span::after {
            right: 30%;
        }
    }

/*========== About Blog ==========*/
.blog{
    &__subtitle span::before {
        left: 30%;
    }

    &__subtitle span::after {
        right: 30%;
    }
}

/*========== Service Section ==========*/

    .service{
        &--btn{
            font-size: 1rem;
        }
        &__subtitle span::before {
            left: 30%;
        }

        &__subtitle span::after {
            right: 30%;
        }
    }
/*==========|  Css About |===========*/
    .contact {
        .contact__info {
            width: 50%;
        }

        .contact__form {
            width: 50%;
        }

        .w50 {
            width: 47%;
        }
        &__subtitle span::before {
            position: absolute;
            top: 55%;
            left: 30%;
        }
    
        &__subtitle span::after {
            position: absolute;
            top: 55%;
            right: 30%;
        }
    }
/*==========|  Css Footer |===========*/
    .footer {
        &__about {
            width: 30%;
        }
    }
    .change-theme{
        position: absolute;
        color: var(--primary-color);
    }

/*========== Hero Section ==========*/
.social__links{
    top: 22%;
    left: 5%;
}
}


/*========== Mediaqueries ==========*/
@media screen and (min-width:968px) {
    .about{
        .about__subtitle span::before {
            left: 35%;
        }

        .about__subtitle span::after {
            right: 35%;
        }
    }
    .blog{
        &__subtitle span::before {
            left: 35%;
        }

        &__subtitle span::after {
            right: 35%;
        }
    }
    .service{
        &__subtitle span::before {
            left: 35%;
        }

        &__subtitle span::after {
            right: 35%;
        }
    }
    .portfolio{
        &__subtitle span::before {
            left: 33%;
        }

        &__subtitle span::after {
            right: 33%;
        }
    }
    .contact{
        &__subtitle span::before {
            left: 33%;
        }

        &__subtitle span::after {
            right: 33%;
        }
    }
}