/*========== Service Section ==========*/
.service{
    margin-bottom: 4em;
    &__title{
        text-align: center;
    }
    &__card{
        position: relative;
        border-radius: 10px;
        text-align: center;
        padding: 1.5em;
        background-color: var(--light-color);
        color: var(--primary-color);
        cursor: pointer;
    }
    &__card__subtitle{
        font-size: 2rem;
    }
    &__img{
        width: 100%;
    }
    &__img img{
        text-align: center;
        width: 30%;
        object-fit: cover;
    }
    &__card__subtitle{
        margin: .6em 0;
    }
    &__data{
        margin: 1em 0;
    }
    
    &__subtitle {
        position: relative;
        text-align: center;
        margin-bottom: 1.5em;
        text-transform: lowercase;
        color: var(--primary-color);
    }

    &__subtitle span::before,
    &__subtitle span::after {
        content: "";
        width: 50px;
        height: 3px;
        background-color: var(--primary-color);
    }

    &__sub {
        position: relative;
        width: 100%;
        margin-inline: auto;
    }
    &__data{
        margin-bottom: 1em;
    }
    &__subtitle span::before {
        position: absolute;
        top: 55%;
        left: 80%;
    }

    &__subtitle span::after {
        position: absolute;
        top: 55%;
        right: 80%;
    }
    .bar{
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 5px;
        border-radius: 0 0 10px 10px;
        background-color: var(--secondray-color);
        animation: bar .5s;
        display: none;
    }
    &__card:hover .bar{
        display: block;
    }
    @keyframes bar{
        0%{
            width: 0px;
        }
        100%{
            width: 150px;
        }
    }
    
    &__card:focus,
    &__card:hover{
        box-shadow: 0 0 10px rgba(0,0,0, .8);
    }
    .serivece__data{
        margin-bottom: 1em;
    }
    .service--btn{
        // padding: .3em 1.5em;
        background-color: none;
        font-size: 1.4rem;
        margin: 1em 0;
        text-transform: uppercase;
    }
}