/*==========|  Css Social |===========*/
.social__links {
    width: 28px;
    display: inline-block;
    position: absolute;
    top: 15%;
    left:0;
    background-color: whitesmoke;
}

.social__link {
    position: relative;
    padding: .1rem;
    margin: 1rem 0;
    // background-color: thistle;
    cursor: pointer;

    .bx {
        color: rgb(27, 27, 27);
        // font-size: 20px;
    } 
}
.social__link :hover{
    position: relative;
    padding: 0 3px;
}


// .bx:hover,
// .bx:focus {
//     color: red;
//     padding-left: 1rem;
// }