/*========== Reusable CSS classes ==========*/

.container{
    width: Min(80%, 1128px);
    margin-inline: auto;
    position: relative;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--gap);
}

.section{
    margin-bottom: 4.5rem;
    &__title, &__title-center{
        text-align: center;
        color: var(--primary-color);
        font-size: 2.1rem;
        margin-bottom: 1rem;
    }

}