/*========== Mediaqueries ==========*/

@media all and (min-width:800px) {
/*========== Reusable Classes ==========*/
    .row{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

section{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}    
/*========== Header Section ==========*/
    header{
        text-align: start;
        .logo__svg{
            position: relative;
        }
        .nav{
            top: 0;
            visibility: visible;
            background-color: var(--secondary-color);
            position: relative;
            height: auto;
            padding: 0;
            margin: 0;
            &__link{
                color: var(--primary-color);
            }
            &__link:hover,
            &__link:focus{
                opacity: .9;
            }
        }

        .nav-toggle{
            display: none;
        }
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        // .logo{
        //    display: flex;
        //    align-items: center;
        //    justify-content: center;
        // }
        .nav{
            display: flex;
            justify-content: end;
            align-items: center;
        }
        .nav__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;
        }
        .nav__item{
            padding: 0;
            margin: 0 0 0 1em;
        }
        .nav__link--btn{
            padding: .12em .6em;
            color: var(--body-color);
            font-size: 1.1em;
        }
        .nav__link--btn:hover{
            opacity: .9;
        }
    }
   
/*========== Hero Section ==========*/
    .hero{
        .row{
            gap: 4em;
        }
        .hero__info{
            width: 60%;
        }
        .hero__img{
            width: 40%;
        }
        .hero__img img{
            transform: translateY(0px);
            width: 100%;
            object-fit: cover;
        }
        &--btn{
            width: 40%;
        }
        &__data{
            margin: 1.5em 0;
        }
    }

/*========== About Section ==========*/
    .about{
        .row{
            gap: 6em;
        }
        &__info{
            width: 60%;
        }
        &__img{
            width: 40%;
        }
        // &__info__subtitle{
        //     // margin-bottom: 1em;
        // }
        // &__data{
        //     // margin-bottom: var(--mr__bottom);
        // }
        .about__subtitle span::before {
            left: 25%;
        }

        .about__subtitle span::after {
            right: 25%;
        }

        &--btn {
            width: 50%;
        }
    }
/*========== Service Section ==========*/

    .service{
        &__subtitle span::before {
            left: 18%;
        }

        &__subtitle span::after {
            right: 18%;
        }
    }
/*==========|  Css About |===========*/
    .contact {
        .contact__info {
            width: 50%;
        }

        .contact__form {
            width: 50%;
        }

        .w50 {
            width: 47%;
        }
    }
/*==========|  Css Footer |===========*/
    .footer {
        &__about {
            width: 35%;
        }

        .container {
            width: Min(90%, 1128px);
            margin-inline: auto;
            position: relative;
        }
    }
}