/*========== variables ==========*/
:root {
  --body-color: hsl(0, 0%, 100%);
  --primary-color:hsl(0, 0%, 0%);
  --secondray-color:hsl(0, 0%, 100%);
  --light-color: hsl(0, 0%, 93%);
  --font-weight-light:100;
  --font-weight-semi-bold:600;
  --font-weight-bold:900;
  --bigest-font-size:4rem;
  --h1-font-size: Clamp(3rem, 3.5vw, 4rem);
  --h2-font-size:2.5rem;
  --h3-font-size:2rem;
  --normal-font-size:1.8rem;
  --small-font-size:1rem;
  --title-line-height: 1;
  --text-line-height: 1.7;
  --font-family-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --section-margin:6em;
  --mr__bottom:1.5em;
  --m_tb:1em 0;
  --pd:1rem 0;
  --gap:4rem;
}

/*========== Resseting CSS classes ==========*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-color);
  font-size: var(--normal-font-size);
  line-height: var(--text-line-height);
  font-weight: var(--font-weight-light);
  color: var(--primary-color);
  font-family: var(--font-family-verdana);
}

.txt-type, .txt-typ {
  border-right: 1px solid #777;
}

h1, h2, h3 {
  color: var(--primary-color);
  font-weight: 600;
}

h2, h3 {
  text-transform: lowercase;
  font-variant: small-caps;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

/*========== Reusable CSS classes ==========*/
.container {
  width: min(75%, 1128px);
  margin-inline: auto;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--gap);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--gap);
}

.section {
  padding-top: 8rem;
  padding-bottom: 4rem;
}
.section__title, .section__title-center {
  text-align: center;
  color: var(--primary-color);
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

/*========== Buttons Css ==========*/
.btn {
  padding: 0.3em 1em;
  background-color: var(--primary-color);
  letter-spacing: 3px;
  color: var(--secondray-color);
  font-variant: small-caps;
  border-radius: 2px;
  font-size: 1.1em;
  border: none;
  outline: none;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

/*========== Header Css ==========*/
.header {
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: 0.3s;
}
.header .nav {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .header .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    padding: 2.5rem 0;
    margin: 0 auto;
    width: 90%;
    transition: 0.5s;
    z-index: 3;
    border-radius: 2rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: var(--light-color);
  }
}
.header .change-theme {
  text-align: center;
}
.header .nav__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .nav__link,
.header .nav__toggle {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-variant: small-caps;
}
.header .nav-visible {
  top: 6.5rem;
}
.header .nav__brand {
  font-variant: small-caps;
  font-size: 2.2rem;
  color: var(--primary-color);
  font-weight: 600;
}
.header .nav__toggle {
  font-size: 2.5rem;
  cursor: pointer;
  font-weight: 800;
}
.header .bars {
  position: relative;
  display: inline-block;
  background-color: var(--primary-color);
  width: 15px;
  height: 4px;
}
.header .bars::before,
.header .bars::after {
  position: absolute;
  content: "";
}
.header .bars::after {
  height: 4px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--primary-color);
  top: -16px;
  left: 0;
}
.header .bars::before {
  width: 40px;
  height: 4px;
  background-color: var(--primary-color);
  color: var(--primary-color);
  top: -8px;
}

.scroll-header {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/*========== Hero ==========*/
.hero {
  padding: 8rem 0;
}
.hero__title {
  font-size: var(--h1-font-size);
  line-height: var(--title-line-height);
}
.hero__data {
  line-height: var(--text-line-height);
  margin: var(--m_tb);
  text-align: justify;
}
.hero__info {
  width: 100%;
}
.hero__img {
  position: relative;
  width: 100%;
  transform: translateY(0px);
  background-color: #4f504f;
}
.hero__img::after, .hero__img::before {
  position: absolute;
  content: "";
  border: 4px solid var(--primary-color);
}
.hero__img::after {
  top: -2rem;
  bottom: -2rem;
  right: -2rem;
  width: 50%;
  z-index: -3;
}
.hero .span1 {
  border: 4px solid var(--primary-color);
  position: absolute;
  top: -2rem;
  height: 20px;
  width: 20px;
  left: -2rem;
}
.hero .span2 {
  border: 4px solid var(--primary-color);
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: -2rem;
  left: -2rem;
}
.hero__img img {
  width: 100%;
  object-fit: cover;
}
.hero--btn {
  width: 100%;
}

/*========== About CSS classes ==========*/
.about__title {
  text-align: center;
  margin: 0;
  padding: 0;
}
.about__info {
  width: 100%;
  align-self: center;
}
.about__info__subtitle {
  text-align: start;
}
.about__img {
  position: relative;
  width: 100%;
}
.about__img::after, .about__img::before {
  position: absolute;
  content: "";
  border: 4px solid var(--primary-color);
}
.about__img::after {
  top: -2rem;
  bottom: -2rem;
  left: -2rem;
  width: 50%;
  z-index: -3;
}
.about .span1 {
  border: 4px solid var(--primary-color);
  position: absolute;
  top: -2rem;
  height: 20px;
  width: 20px;
  right: -2rem;
}
.about .span2 {
  border: 4px solid var(--primary-color);
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: -2rem;
  right: -2rem;
}
.about__img img {
  object-fit: cover;
  width: 100%;
}
.about__data {
  text-align: justify;
  margin: 1em 0;
}
.about--btn {
  width: 100%;
}
.about .about__subtitle {
  position: relative;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1.5em;
  text-transform: lowercase;
}
.about .about__subtitle span::before,
.about .about__subtitle span::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}
.about .about__sub {
  position: relative;
  width: 100%;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 4rem;
}
.about .about__subtitle span::before {
  position: absolute;
  top: 55%;
  left: 75%;
}
.about .about__subtitle span::after {
  position: absolute;
  top: 55%;
  right: 75%;
}

/*========== Service Section ==========*/
.service {
  margin-bottom: 4em;
}
.service__title {
  text-align: center;
}
.service__card {
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding: 1.5em;
  background-color: var(--light-color);
  color: var(--primary-color);
  cursor: pointer;
}
.service__card__subtitle {
  font-size: 2rem;
}
.service__img {
  width: 100%;
}
.service__img img {
  text-align: center;
  width: 30%;
  object-fit: cover;
}
.service__card__subtitle {
  margin: 0.6em 0;
}
.service__data {
  margin: 1em 0;
}
.service__subtitle {
  position: relative;
  text-align: center;
  margin-bottom: 1.5em;
  text-transform: lowercase;
  color: var(--primary-color);
}
.service__subtitle span::before, .service__subtitle span::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}
.service__sub {
  position: relative;
  width: 100%;
  margin-inline: auto;
}
.service__data {
  margin-bottom: 1em;
}
.service__subtitle span::before {
  position: absolute;
  top: 55%;
  left: 80%;
}
.service__subtitle span::after {
  position: absolute;
  top: 55%;
  right: 80%;
}
.service .bar {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 5px;
  border-radius: 0 0 10px 10px;
  background-color: var(--secondray-color);
  animation: bar 0.5s;
  display: none;
}
.service__card:hover .bar {
  display: block;
}
@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 150px;
  }
}
.service__card:focus, .service__card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.service .serivece__data {
  margin-bottom: 1em;
}
.service .service--btn {
  background-color: none;
  font-size: 1.4rem;
  margin: 1em 0;
  text-transform: uppercase;
}

/*==========| Css Header |===========*/
.portfolio {
  align-self: flex-start;
}
.portfolio__title {
  text-align: center;
}
.portfolio__subtitle {
  position: relative;
  text-align: center;
  margin-bottom: 1.5em;
  text-transform: lowercase;
  color: var(--primary-color);
}
.portfolio__subtitle span::before, .portfolio__subtitle span::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}
.portfolio__sub {
  position: relative;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 0.5rem;
}
.portfolio__subtitle span::before {
  position: absolute;
  top: 55%;
  left: 75%;
}
.portfolio__subtitle span::after {
  position: absolute;
  top: 55%;
  right: 75%;
}
.portfolio__list {
  display: flex;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: var(--secondray-color);
}
.portfolio__item {
  padding: 0.2em 0.6em;
  background-color: var(--primary-color);
  margin: 0 0.2em;
  cursor: pointer;
}
.portfolio__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 2.5em 0;
}
.portfolio__project {
  border-radius: 20px;
  background-color: var(--body-color);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border: 1px dashed var(--primary-color);
}
.portfolio__project .portfolio__img {
  width: 100%;
  transition: 0.4s;
}
.portfolio__project .portfolio__img:hover {
  width: 100%;
  object-fit: cover;
  transform: scale(1.5);
}
.portfolio .live__demo {
  position: absolute;
  top: 40%;
  bottom: 40%;
  text-align: center;
  color: var(--secondray-color);
  padding: 0.1em 1em;
  background-color: var(--primary-color);
  left: 30%;
  z-index: 1;
  font-size: 1.1rem;
  right: 30%;
  display: none;
}
.portfolio__project:hover .live__demo {
  display: block;
}

.active {
  background-color: var(--primary-color);
  color: var(--secondray-color);
}

.hide {
  display: none;
}

/*========== Blog CSS classes ==========*/
.blog__title {
  font-style: 2rem;
  font-variant: small-caps;
  text-align: center;
  margin: 0.5em 0;
}
.blog__subtitle {
  position: relative;
  text-align: center;
  margin-bottom: 1.5em;
  text-transform: lowercase;
  color: var(--primary-color);
}
.blog__subtitle span::before, .blog__subtitle span::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}
.blog__sub {
  position: relative;
  width: 100%;
  margin-inline: auto;
}
.blog__subtitle span::before {
  position: absolute;
  top: 55%;
  left: 80%;
}
.blog__subtitle span::after {
  position: absolute;
  top: 55%;
  right: 80%;
}
.blog__card {
  background-color: var(--light-color);
  border-radius: 10px;
  padding: 20px;
  color: var(--secondray-color);
}
.blog__img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
.blog .date {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  padding: 0.2rem;
  font-style: italic;
  color: var(--primary-color);
  background-color: var(--secondray-color);
  border-radius: 0px 0px 10px 0px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.blog__social {
  padding: 0.5em 0;
}
.blog__social__list .bx {
  font-size: 30px;
  background-color: whitesmoke;
}
.blog__description {
  margin: 0;
  font-size: 1.7rem;
  color: var(--primary-color);
}
.blog__post__data {
  text-align: justify;
}
.blog__post__title {
  color: var(--primary-color);
  margin: 0.5rem 0;
  font-variant: normal;
  font-size: 1.9rem;
  text-transform: lowercase;
}
.blog--btn {
  text-align: center;
  margin: 1rem 0;
  color: var(--secondray-color);
  font-variant: small-caps;
  font-size: 1.4rem;
}

/*========== Contact Section ==========*/
.contact__title {
  text-align: center;
}
.contact__info__subtitle {
  margin: 0.5em 0;
  padding: 0;
}
.contact__subtitle {
  position: relative;
  text-align: center;
  text-transform: lowercase;
  color: var(--primary-color);
}
.contact__subtitle span::before, .contact__subtitle span::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}
.contact__sub {
  position: relative;
  width: 100%;
  margin-inline: auto;
}
.contact__subtitle span::before {
  position: absolute;
  top: 55%;
  left: 75%;
}
.contact__list a {
  color: var(--primary-color);
}
.contact__subtitle span::after {
  position: absolute;
  top: 55%;
  right: 75%;
}
.contact__data {
  margin-top: 1.5rem;
  text-align: justify;
}
.contact__lists {
  display: flex;
  align-items: center;
  gap: var(--gap);
  margin-top: 0.4rem;
}
.contact .form_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .inputbox {
  position: relative;
  margin-bottom: 15px;
}
.contact .inputbox input,
.contact .inputbox textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 8px 0;
  background-color: var(--light-color);
  border-bottom: 1px solid var(--primary-color);
}
.contact .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 500;
  pointer-events: none;
  font-variant: small-caps;
}
.contact .w100 {
  width: 100%;
}
.contact .w50 {
  width: 100%;
}
.contact .inputbox textarea {
  height: 120px;
}
.contact .inputbox input:valid ~ span,
.contact .inputbox input:focus ~ span,
.contact .inputbox textarea:focus ~ span,
.contact .inputbox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 1.4rem;
  font-weight: 100;
}
.contact--btn {
  padding: 0.5em 1em;
  text-transform: uppercase;
  background-color: var(--secondray-color);
  color: var(--primary-color);
}

/*==========|  Css Footer |===========*/
.footer {
  margin-top: 1em;
  padding-top: 1em;
  background-color: var(--secondary-color);
}
.footer a {
  color: var(--primary-color);
}
.footer a:hover {
  opacity: 0.8;
}
.footer h2 {
  position: relative;
  margin-bottom: 20px;
}
.footer h2::before {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  width: 50px;
  height: 3px;
  bottom: -10px;
}
.footer__title {
  font-size: 2rem;
  color: var(--primary-color);
}
.footer__data {
  text-align: justify;
  color: var(--primary-color);
}
.footer .social {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  color: var(--primary-color);
}
.footer .footer__social__item a {
  color: var(--primary-color);
}
.footer__social__item {
  font-size: 1.6rem;
}
.footer__menu__list {
  font-size: 1.6rem;
}
.footer .footer__social__item a:hover {
  color: var(--primary-color);
}
.footer .social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border-radius: 4px;
}
.footer .social a:hover {
  background-color: var(--primary-color);
}
.footer input[type=email] {
  border: none;
  outline: none;
  padding: 0.6em;
  width: 100%;
  margin-top: 0.5em;
  background-color: #eee;
}
.footer .footer--btn {
  padding: 0.1em 0.5em;
  font-variant: small-caps;
  margin-top: 1em;
  letter-spacing: 3px;
  width: 100%;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.footer .copyright {
  color: var(--primary-color);
  margin-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}
.footer .copyright a {
  color: var(--primary-color);
}

.scrollup {
  position: fixed;
  background-color: var(--secondray-color);
  right: 5rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: 3;
  opacity: 0.8;
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--secondray-color);
  opacity: 1;
}
.scrollup__icon {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.show-scroll {
  bottom: 5rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--secondray-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/*========== Theme ==========*/
body.dark-theme {
  --light-color:hsl(0, 0%, 13%);
  --body-color: hsl(0, 0%, 30%);
  --primary-color:hsl(0, 0%, 100%);
  --secondray-color:hsl(0, 0%, 0%);
}

/*==========|  Css Social |===========*/
.social__links {
  width: 28px;
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 0;
  background-color: whitesmoke;
}

.social__link {
  position: relative;
  padding: 0.1rem;
  margin: 1rem 0;
  cursor: pointer;
}
.social__link .bx {
  color: #1b1b1b;
}

.social__link :hover {
  position: relative;
  padding: 0 3px;
}

/*========== Mediaqueries ==========*/
@media only screen and (min-width: 360px) and (max-width: 799px) {
  .about .about__subtitle span::before {
    left: 20%;
  }
  .about .about__subtitle span::after {
    right: 20%;
  }

  .blog__subtitle span::before {
    left: 20%;
  }
  .blog__subtitle span::after {
    right: 20%;
  }

  .service__subtitle span::before {
    left: 18%;
  }
  .service__subtitle span::after {
    right: 18%;
  }

  .portfolio__subtitle span::before {
    left: 20%;
  }
  .portfolio__subtitle span::after {
    right: 20%;
  }

  .contact__subtitle span::before {
    left: 20%;
  }
  .contact__subtitle span::after {
    right: 20%;
  }
}
@media all and (min-width: 800px) {
  /*========== Reusable Classes ==========*/
  .container {
    width: min(65%, 1128px);
  }

  .row {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  /*========== Header Section ==========*/
  header .container {
    width: min(65%, 1128px);
    margin-inline: auto;
  }
  header .nav__toggle {
    display: none;
  }
  header .nav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  header .nav__item {
    /* top: 6rem; */
    padding: 0;
    margin: 0;
    position: relative;
    margin-left: 2rem;
  }
  header .nav__menu,
header .change-theme {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: end;
  }

  /*========== Hero socials ==========*/
  /*========== Hero Section ==========*/
  .hero {
    padding: 12rem 0;
  }
  .hero .row {
    gap: 4em;
  }
  .hero .hero__info {
    width: 55%;
  }
  .hero .hero__img {
    width: 45%;
  }
  .hero .hero__img img {
    transform: translateY(0px);
    width: 100%;
    object-fit: cover;
  }
  .hero--btn {
    width: 60%;
  }
  .hero__data {
    margin: 1.5em 0;
  }

  /*========== About Section ==========*/
  .about .row {
    gap: 6em;
  }
  .about__info {
    width: 60%;
  }
  .about__img {
    width: 40%;
  }
  .about .about__subtitle span::before {
    left: 30%;
  }
  .about .about__subtitle span::after {
    right: 30%;
  }
  .about--btn {
    width: 100%;
  }

  /*========== About Portofolio ==========*/
  .portfolio__subtitle span::before {
    left: 30%;
  }
  .portfolio__subtitle span::after {
    right: 30%;
  }

  /*========== About Blog ==========*/
  .blog__subtitle span::before {
    left: 30%;
  }
  .blog__subtitle span::after {
    right: 30%;
  }

  /*========== Service Section ==========*/
  .service--btn {
    font-size: 1rem;
  }
  .service__subtitle span::before {
    left: 30%;
  }
  .service__subtitle span::after {
    right: 30%;
  }

  /*==========|  Css About |===========*/
  .contact .contact__info {
    width: 50%;
  }
  .contact .contact__form {
    width: 50%;
  }
  .contact .w50 {
    width: 47%;
  }
  .contact__subtitle span::before {
    position: absolute;
    top: 55%;
    left: 30%;
  }
  .contact__subtitle span::after {
    position: absolute;
    top: 55%;
    right: 30%;
  }

  /*==========|  Css Footer |===========*/
  .footer__about {
    width: 30%;
  }

  .change-theme {
    position: absolute;
    color: var(--primary-color);
  }

  /*========== Hero Section ==========*/
  .social__links {
    top: 22%;
    left: 5%;
  }
}
/*========== Mediaqueries ==========*/
@media screen and (min-width: 968px) {
  .about .about__subtitle span::before {
    left: 35%;
  }
  .about .about__subtitle span::after {
    right: 35%;
  }

  .blog__subtitle span::before {
    left: 35%;
  }
  .blog__subtitle span::after {
    right: 35%;
  }

  .service__subtitle span::before {
    left: 35%;
  }
  .service__subtitle span::after {
    right: 35%;
  }

  .portfolio__subtitle span::before {
    left: 33%;
  }
  .portfolio__subtitle span::after {
    right: 33%;
  }

  .contact__subtitle span::before {
    left: 33%;
  }
  .contact__subtitle span::after {
    right: 33%;
  }
}

/*# sourceMappingURL=style.css.map */
